/* body { */


/* height: 100vh; */


/* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */


/* overflow: hidden; */


/* filter: drop-shadow(0 0 10px white); */


/* } */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#2196f3, #81d4fa);
    /* filter: drop-shadow(0 0 5px white); */
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
}

.card {
    border-radius: 0px !important;
}

.card1 {
    /* background-image: linear-gradient(#2196f3, #81d4fa); */
    background-color: white;
    padding: 30px 20px 30px 50px;
}


/* btn */

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-10 {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.form-outline {
    margin-left: auto;
    margin-right: auto;
}


/* process */

@media only screen and(max-width: 1024px) {
    #ex1 {
        width: 50% !important;
    }
}

#ex1 {
    width: 100%;
}

#ex1RangePicker .rangepicker-selection {
    background: #bababa;
}


/* input */

.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

input,
button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#cover {
    /* position: absolute; */
    top: 50%;
    left: 0;
    right: 0;
    /* width: 550px; */
    padding: 35px;
    /* margin: -83px auto 0 auto; */
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

form {
    height: 96px;
}

input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
    color: #ff7575;
    letter-spacing: 5px;
}

input[type="text"]::placeholder {
    color: #e16868;
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}

button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 50px;
    height: 50px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span {
    position: absolute;
    top: 68px;
    left: 27px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before,
button span:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}

#ytd-url {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px 14px;
    margin: 20px;
    color: #fff;
    font-family: Nunito;
    font-size: 14px;
    text-decoration: none;
    background-color: #ff7575;
    border-radius: 4px;
    box-shadow: 0 10px 20px -5px rgba(255, 117, 117, 0.86);
    z-index: 125;
}

* {
    outline: none;
    box-sizing: border-box;
}

#handwriting {
    cursor: crosshair;
    width: 100%;
    height: 50%;
}

#drawing-mode {
    margin-bottom: 10px;
    vertical-align: top;
    float: left;
}


/* #drawing-mode-options {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    padding: 10px;
    z-index: 1;
} */